.MainTextarea {
  color: #111;
  font-family: monospace;
  width: 100%;
  font-size: +1rem;
  min-height: 20vh;
  border-style: none;
  border-color: transparent;
  overflow: auto;
  padding-bottom: 0;
}

.Result {
  padding: 1rem;
  background: #7FDBFF;
  min-height: 80vh;
}

.Sentence {
  margin: 2rem;
  display: block;
}

.CodeWord, .OtherText {
  margin: 0.05rem;
  padding: 0.3rem;
  color: #111;
  display: inline-block;
  font-weight: 100;
}

.CodeWord {
  background: rgb(0, 31, 63);
  box-shadow: 3px 3px 2px 1px rgba(0, 31, 63, 0.2);
  font-family: monospace;
  color: #fff;
}

.OtherText {
  font-family: serif;
  color: transparent;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

.ModeButtons {
  background: #7FDBFF;
  min-height: 10vh;
}

button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
  background-color: transparent;
  user-select: none;
  border: none;
}

button:hover {
  transform: translateY(-0.05rem);
}

button:active {
  background-color: #FFDC00;
}

button:disabled {
  background-color: #FF851B
}
