.CodeWord {
  font-family: monospace;
  color: #fff;
  background: rgb(0, 31, 63);
  box-shadow: 3px 3px 2px 1px rgba(0, 31, 63, 0.2);
}

.CodWord em {
  font-style: normal;
  font-variant: small-caps;
  font-weight: 900;
}

