body {
  background: #7FDBFF;
}

.Sentence {
  margin: 2rem;
  display: block;
}

.CodeWord, .OtherText {
  margin: 0.05rem;
  padding: 0.2rem;
  color: #111;
  display: inline-block;
  font-weight: 100;
}

.CodeWord {
  font-family: monospace;
  background: #001f3f;
  color: #fff;
  box-shadow: 3px 3px 2px 1px rgba(0, 31, 63, 0.2);
}

.OtherText {
  font-family: serif;
  color: transparent;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

.MainTextarea {
  font-family: monospace;
  color: #111;
  width: 100%;
  font-size: +1rem;
  min-height: 5rem;
  border-style: none;
  border-color: transparent;
  overflow: auto;
}
