html {
  font-size: calc(1em + 1vw);
}

a, a:hover {
  color: #FF851B
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}

body {
  font-family: sans-serif;

}

/* sticky footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}