html {
  font-size: calc(1em + 1vw);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*body * + * {
  margin-top: 1.5rem;
}
*/

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid > * {
  flex-basis: 10em;
  flex-grow: 1;
}